@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/Inter-Regular.ttf") format("woff2"),
         url("../fonts/Inter-Regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter-Thin';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/Inter-Thin.ttf") format("woff2"),
         url("../fonts/Inter-Thin.woff") format("woff");
  }
  